<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancer Detection - Breast Cancer Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/lung-detection">Lung Cancer Detection</a></li>
            <li><a href="/breast-detection">Breast Cancer Detection</a></li>
            <li><a href="#" onclick="toggleContact()">Contact</a></li>
        </ul>
        <div class="logo">
            <img src="https://i.postimg.cc/wBYnk9Q1/pngaaa-com-3723417.png" alt="Lung Cancer Logo">
        </div>
    </div>
    <div class="breasts">
    <div class="container" id="breast-detection">
        <h1>Breast Cancer Detection</h1>
        <p class="upload-label">Upload the CT Scan Image to Predict</p>
        <input type="file" id="fileInput" style="display: none;" />
        <button class="upload-button" onclick="uploadImage()">Upload Image</button>
        <div class="image-container" style="display: none;">
            <img id="uploadedImage" src="" alt="Uploaded Image" />
        </div>
        <p id="predictionLabel" class="prediction-label"></p>
        <button id="uploadAgainButton" onclick="uploadAgain()" style="display: none;">
            Upload Again
        </button>
    </div>
    </div>

    <div class="contact-page" id="contact-page">
        <h2>Contact Us</h2>
        <p>Email: akashgupta0919@gmail.com</p>
        <p>Phone: +91 8516852232</p>
        <p style="text-align:center">Copyright © 2024 Lungs | Breast Cancer Detection</p>
    </div>

    <script>
        function uploadImage() {
            var fileInput = document.getElementById('fileInput');
            fileInput.click();

            fileInput.addEventListener('change', function () {
                var file = fileInput.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function (e) {
                        var image = document.getElementById('uploadedImage');
                        image.src = e.target.result;
                        image.parentElement.style.display = 'block';
                        // Remove the resizeImage function call as it causes the black image issue
                        // resizeImage(image);
                        predictImage(file);
                    };
                }
            });
        }
        

        function predictImage(file) {
            var formData = new FormData();
            formData.append('file', file);
        
            fetch('/predict', {
                method: 'POST',
                body: formData,
            })
                .then((response) => response.json())
                .then((data) => {
                    var predictionLabel = document.getElementById('predictionLabel');
                    var uploadAgainButton = document.getElementById('uploadAgainButton');
        
                    predictionLabel.textContent = data.breast_prediction;
                    if (data.breast_prediction === 'Benign') {
                        predictionLabel.style.color = 'green';
                    } else {
                        predictionLabel.style.color = 'red';
                    }
                    predictionLabel.style.display = 'block';
                    uploadAgainButton.style.display = 'block';
                    document.querySelector('.upload-button').style.display = 'none';
                })
                .catch((error) => console.error('Error:', error));
        }
        

        function uploadAgain() {
            location.reload();
        }

        function toggleContact() {
            var contactPage = document.getElementById('contact-page'); // Corrected the ID
            contactPage.classList.toggle('show');
        }
    </script>
</body>

</html>
